<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">


<h2 id="publictitle">Current Job Openings</h2>
<hr>
<p ng-if="home.posts.length === 0">No one hiring yet.</p>

<div ng-if="home.posts.length > 0">
	<div ng-repeat="post in home.posts">
		<p> <strong id="job-title">{{post.title}}</strong> - {{post.description}}</p>

		<div ng-show="main.currentUser().favorites.indexOf(post._id) === -1">
		<h4>Favorite this job: <a href="#" id="fav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-heart" id="empty-star" ng-click="home.favPost(post)"></span></a>
		</div>
		<div ng-show="main.currentUser().favorites.indexOf(post._id) !== -1">
		<h4>Unfavorite: <a href="#" id="fav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-heart" id="empty-heart" ng-click="home.removefav(post)"></span></a>
		</div>

		<br>
	</div>
</div>

<div ng-show="main.currentUser()">
	<br>
	<h4>Add New Job</h4>
	<hr>
	<form ng-show="main.currentUser()" ng-submit="home.createPost()">
		<div class="form-group">
			<label for="post-title">Job Title</label>
		  <input type="text" ng-model="home.new_post.title" class="form-control" id="post-title" placeholder="Job Title">
		</div>
	  <div class="form-group">
	  	<label for="post-description">Job Description</label>
	    <textarea ng-model="home.new_post.description" class="form-control" id="post-description" placeholder="Job Description"></textarea>
	  </div>
	  <input type="submit" value="Add Post" class="btn btn-block btn-info btn-job">
	</form>
</div>


</div>
</div>
</div>