<h3>{{main.currentUser.username}}</h3>
<hr>
<p><strong>Email:</strong> {{main.currentUser().email}}</p>
<p><strong>Username:</strong> {{main.currentUser().username}}</p>
<p><strong>Joined:</strong> {{main.currentUser().created | date:'MMMM dd, yyyy'}}</p>

<hr>

<a href="#" ng-click="profile.showEditForm=true" ng-hide="profile.showEditForm" class="btn btn-default"><i class="fa fa-pencil"></i> Edit Profile</a>

<form ng-show="profile.showEditForm" ng-submit="profile.updateProfile()">
	<div class="form-group">
	  <input type="text" class="form-control" placeholder="Full Name"
      ng-model="profile.new_profile.displayName"
        ng-value="main.currentUser().displayName">
	</div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username"
      ng-model="profile.new_profile.username"
        ng-value="main.currentUser().username">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Email"
      ng-model="profile.new_profile.email"
        ng-value="main.currentUser().email">
  </div>
  <input type="submit" value="Edit Profile" class="btn btn-info">&nbsp;
  <button ng-click="profile.showEditForm=false" class="btn btn-default">Cancel</button>
</form>

<br><br>

<div ng-if="profile.posts.length > 0">
  <div ng-repeat="post in profile.posts">
    <p><strong>{{post.title}}</strong> - {{post.description}} <i class="fa fa-close" ng-click="profile.deletePost(post)"></i> <i class="fa fa-pencil" ng-click="post.showEditForm = true"></i></p>
  <form ng-show="post.showEditForm" ng-submit="profile.updatePost(post)">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Job Title"
        ng-model="post.title">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Job Description"
        ng-model="post.description">
    </div>
    <input type="submit" value="Save Post" class="btn btn-info">&nbsp;
    <button ng-click="post.showEditForm=false" class="btn btn-default">Cancel</button><br><br>
  </form>
  </div>
</div>