h3 {
	color: #5D91A7;
}

#publictitle {
	color: #B9B87F;
}
/********** NAV BAR **************/

.navbar-default{
	background-color: #4F6A8C;
	border-color: #4F6A8C;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.btn-info {
	background-color: #B9B87F;
	border-color: #B9B87F;
}

/********** HOME TEMPLATE *************/

#job-title {
	color: #96979A;
}