h3 {
	color: #5D91A7;
}

#publictitle {
	color: #B9B87F;
}

.centertext {
	text-align: center;
}

.btn {
	border-radius: 0px;
}

.form-control {
	border-radius: 0px;
}
/********** NAV BAR **************/

.navbar-default{
	background-color: #4F6A8C;
	border-color: #4F6A8C;
	border-radius: 0px;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.btn-job {
	background-color: #B9B87F;
	border-color: #B9B87F;
	border-radius: 0px;
}

/********** HOME TEMPLATE *************/

#job-title {
	color: #96979A;
}

/*.fa-heart {
	color: white;
	text-shadow: 0 0 3px #E2A2A2;
	font-size: .8em;
}

.fa-heart:hover {
	color: #E2A2A2;
	font-size: 1em;
}*/

/********** PROFILE TEMPLATE ***********/

.profile-btn {
	border-radius: 0px;
}

.uploadcare-widget-button-open {
	background: #7E8E9C;
	border-radius: 0px;
}

.save {
	color: #7BCC70;
}
.cancel {
	color: #E2A2A2;
}